.impact-calc-container {
  &__inr {
    padding: 25px;
    height: calc(100vh - 210px);
    overflow-y: scroll;

    &--question{
      .single-dropdown-section {
        &__header {
          background-color: #f6f6f6;
          padding: 10px 10px;
          .header-text {
            font-size: 14px;
            font-weight: 700;
            color: #2a2a2a;
          }
        }
        &__body {
          .title-container {
            border-bottom: 1px solid #c4c4c4;
            font-size: 14px;
            font-weight: 600;
            color: #333333;
            padding: 15px 0 8px 0px;
          }
          .single-dropdown-title {
            padding: 10px 0;
            font-size: 14px;
          }
          .label-heading {
            padding: 10px 0 5px;
            font-size: 12px;
            line-height: 1;
          }
        }
        .input-form-control{
          padding-right: 20px;
          &:nth-child(3){
            padding-right: 0;
          }
          &:nth-child(6){
            padding-right: 0;
          }
        }
      }
    }
    .section-pad {
      padding: 10px 0;
    }
  }
 
  .footer-impact-calc {
    .left-sec {
      .topContainer  {
        justify-content: center;
      border-bottom: 0;
      }
    }
  }
  
}

.dark-background {
  background-color: #F6F6F6;
}