.slider-container {
    display: inline-block;
    width: 100%;
    @include breakpoint(sm-mobileonly) {
        width: 96%;
    }
    .slider-container-inner {
        display: flex;
        height: 145px;
        @include breakpoint(sm-mobileonly) {
            display: block;
        }
        .sliderOuter {
            background-color: $gray-color;
            height: 5px;
            width: 78%;
            margin: auto;
            @include breakpoint(sm-mobileonly) {
                width:100%;
                margin-top: 63px;
            }

            .slider {
                margin: 0px auto;
                width: 83%;


                .MuiSlider-colorPrimary {
                    padding: 0px;
                    position: relative;
                    color: $dark-white;
                }

                .MuiSlider-colorPrimary span {
                    &::after {
                        position: absolute;
                        top: -45px;
                        left: -15px;
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        background-color: $white-color;
                        border: 1px solid $blue-color;
                        text-align: center;
                        line-height: 30px;
                        color: $blue-color;
                    }

                    &::before {

                        position: absolute;
                        top: -13px;
                        left: 0px;
                        height: 13px;
                        width: 1px;
                        background-color: $blue-color;
                    }
                }

                .MuiSlider-colorPrimary span:nth-child(3)::after {
                    content: "1";
                }

                .MuiSlider-colorPrimary span:nth-child(3)::before {
                    content: "";
                }

                .MuiSlider-colorPrimary span:nth-child(5)::after {
                    content: "2";
                }

                .MuiSlider-colorPrimary span:nth-child(5)::before {
                    content: "";
                }

                .MuiSlider-colorPrimary span:nth-child(7)::after {
                    content: "3";
                }

                .MuiSlider-colorPrimary span:nth-child(7)::before {
                    content: "";
                }

                .MuiSlider-colorPrimary span:nth-child(9)::after {
                    content: "4";
                }

                .MuiSlider-colorPrimary span:nth-child(9)::before {
                    content: "";
                }

                .MuiSlider-colorPrimary span:nth-child(11)::after {
                    content: "5";
                }

                .MuiSlider-colorPrimary span:nth-child(11)::before {
                    content: "";
                }
                .MuiSlider-markLabel{
                    display:flex;
                    padding: 10px;
                    width: 130px;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: $gray-color;
                    color: $black-color;
                    font-weight: $font-bold;
                    white-space: normal;
                    top: 15px;
                    height: 50px;
                    font-size: 12px;
                    line-height: 1.2;
                    @include breakpoint(sm-mobileonly) {
                        font-size: 10px;
                        width: 51px;
                        padding: 5px;
                        height: 69px;
                    }
                    @include breakpoint(Ipad-pro) {
                        width: 108px;
                    }
                    &.MuiSlider-markLabelActive{
                        font-weight: $font-500;
                        background: $blue-color;
                        color: $white-color;
                    }
                }

                .MuiSlider-thumb {
                    width: 20px !important;
                    height: 24px !important;
                    background: url("https://ui.e2eresearch.com/Mckinsey/assets/svg/knob-active.svg");
                    background-size: 65%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: transparent !important;
                    -webkit-tap-highlight-color: transparent !important;
                    border-radius: 50% !important;

                    &::before {
                        box-shadow: none !important;
                        display: none !important;
                    }

                    &:hover {
                        box-shadow: none !important;
                    }

                    &.MuifocusVisible {
                        box-shadow: none !important;
                    }

                    &.css-eg0mwd-MuiSlider-thumb.Mui-focusVisible {
                        box-shadow: none !important;
                    }

                    &::after {
                        display: none;
                    }
                    }
                    .css-1aznpnh-MuiSlider-root {
                        color: $gray-color;
                    }
                    .knob-disabled{
                        .MuiSlider-thumb{
                        background: url("https://ui.e2eresearch.com/Mckinsey/assets/svg/knob.svg");
                        background-size: 65%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: transparent !important;
                    }

                    .MuiSlider-markLabel.MuiSlider-markLabelActive {
                        background-color: $gray-color;
                        color: $black-color;
                        font-weight: $font-bold;
                        font-size: 12px;
                        line-height: 1.2;
                        @include breakpoint(sm-mobileonly) {
                            font-size:9px;
                            }
                    }
                }
            }
        }

        .sliderRightPanel {
            width: 20%;
            border-left: 1px solid $dark-white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            @include breakpoint(Ipad) {
                width:15%;
            }
            @include breakpoint(sm-mobileonly) {
            width:100%;
            margin-top: 85px;
            }
            @include breakpoint(desktop150) {
            width:15%;
            }
              
        }
    }

}