.slider-container{
    display: inline-block;
    width: 100%;
    .slider{
        margin: 30px auto;
        .MuiSlider-markLabel{
            display:inline-block;
            padding: 10px;
            width: 130px;
            text-align: center;
            background-color: #E1E1E1;
            color: #2A2A2A;
            font-weight: 600;
            &.MuiSlider-markLabelActive{
                font-weight: 500;
                background: #2251FF;
                color: #fff;
            }
        }
        .MuiSlider-thumb{
            background: url("../../../assets/svg/knob-active.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent!important;
            -webkit-tap-highlight-color: transparent!important;
            border-radius: 0%!important;
            &::before{
                box-shadow:none!important;
            }
            &:hover{
                box-shadow:none!important;
            }
            &.MuifocusVisible{
                box-shadow:none!important;
            }
            &.css-eg0mwd-MuiSlider-thumb.Mui-focusVisible {
                box-shadow:none!important;
                }
            }
            .MuiSlider-markLabelActive ~ .MuiSlider-thumb{
                // background: url("../../../assets/svg/knob-active.svg")
            }
            .css-1aznpnh-MuiSlider-root {
                color: #CCCCCC;
            }
        }
    }

