
.table_section {
  width: -webkit-fill-available;
  display: inline-flex;
}

.table_section > div {
  display: inline-block;
  min-width: 25%;
  min-height: 300px;
  border: 1px solid gray;
}

.t-row > .t-data {
  display: inline-block;
  width: 16%;
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}
