.introduction-container {
    .introduction-main {
      margin: auto;
      margin-top: 100px;
      width: 80%;
      height: calc(100vh - 320px);
       overflow-y: auto;
      
      @include breakpoint(sm-mobileonly) {
        // font-size: 15px;
        // @include space("margin", "top", 190px, 0px);
        font-size: 15px;
        // @include space("margin", "top", 190px, 0px);
        margin-top: 140px;
        height: calc(100vh - 270px);
      }

      @include breakpoint(landscape-smalldevice) {
        margin-top: 60px;
        height: calc(100vh - 285px);
      }
  
      .introduction-heading {
        text-align: left;
        letter-spacing: 0px;
        color: $dark-black;
        opacity: 1;
        margin-bottom: 15px;
      }
      
      .introduction-content {
        text-align: left;
        letter-spacing: 0px;
        color: $dark-black;
        opacity: 1;
        line-height: 21px;
      }
    }

    @include breakpoint(desktop1280) {
      .introduction-main .introduction-heading {
        font-size:12px;
      }
      .introduction-main .introduction-content {
        font-size:11px;
      }
    }
    @include breakpoint(sm-mobileonly) {
      .introduction-main .introduction-heading {
        font-size: 15px;
      }
      .introduction-main .introduction-content {
          font-size: 14px;
      }
    }
    @include breakpoint(landscape-mobileonly) {
      .introduction-main {
          margin-top:50px;
          height: calc(100vh - 180px);
      }
      
    }
    
  }

  