.introduction-container {
    .introduction-main {
      margin: auto;
      margin-top: 100px;
      width: 80%;
      height: calc(100vh - 346px);
       overflow-y: auto;
      
      @include breakpoint(sm-mobileonly) {
        font-size: 15px;
        @include space("margin", "top", 190px, 0px);
      }
  
      .introduction-heading {
        text-align: left;
        letter-spacing: 0px;
        color: $dark-black;
        opacity: 1;
        margin-bottom: 15px;
      }
      
      .introduction-content {
        text-align: left;
        letter-spacing: 0px;
        color: $dark-black;
        opacity: 1;
        line-height: 21px;
      }
    }
  }