.introduction-container {
    .introduction-main {
      margin: auto;
      margin-top: 100px;
      width: 80%;
  
      .introduction-heading {
        text-align: left;
        letter-spacing: 0px;
        color: $dark-black;
        opacity: 1;
        margin: 0;
      }
      
      .introduction-content {
        text-align: left;
        letter-spacing: 0px;
        color: $dark-black;
        opacity: 1;
      }
    }
  }