.question-wrapper {
  .main-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);

    .left-panel {
      width: 280px;
      background-color: $dark-light-black;
      transition: 0.3s ease-out;
      @include breakpoint(Ipad) {
        //margin-left: -280px;
        transition: 0s ease-out;
        position: fixed;
        height: 100%;
        z-index: 3;
      }
      @include breakpoint(sm-mobileonly) {
        margin-left: -280px;
        transition: 0s ease-out;
        position: fixed;
        height: 100%;
        z-index: 3;
      }
    }

    .right-panel {
      width: calc(100% - 280px);
      position: relative;
      padding: 20px;
      transition: 0.3s ease-out;
      @include breakpoint(Ipad) {
        width: 100%;
      }
      @include breakpoint(sm-mobileonly) {
        width: 100%;
        padding: 10px;
      }
      .title {
        padding: 20px;
        margin-bottom: 0;
        @include breakpoint(Ipad) {
          padding-left: 0;
        }
        @include breakpoint(sm-mobileonly) {
          padding-left: 0;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        h2 {
          font-size: 18px;
          @include breakpoint(sm-mobileonly) {
            font-size: 15px;
          }
        }
      }
      &__inr {
        overflow-y: auto;
        height: calc(100vh - 280px);
        @include breakpoint(landscape-mobileonly) {
          height: calc(100vh - 231px) !important;
        }
        @include breakpoint(sm-mobileonly) {
          height: calc(100vh - 242px);
        }

        .question_text {
          font-size: 13px;
          padding: 0 16px;
        }
      }

      .footer {
        .button-container {
          justify-content: end;
          padding: 0px 20px;

          .previous-button {
            border: 1px solid $blue-color;
            background-color: $white-color !important;
            color: $blue-color !important;
          }
        }
      }
    }

    @media screen and (max-width: 1200px) {
      .submitButton {
        padding: 4px 0px !important;
        width: 100px;
        @include breakpoint(sm-mobileonly) {
          width: auto;
          padding: 4px 10px !important;
        }
      }
    }
  }
}
.question-wrapper {
  .hamburger-toggle-active {
    .btn15 .icon:before {
      @include breakpoint(Ipad) {
        transform: rotateZ(0deg) scaleX(1) translate(0px, 0px);
      }
      @include breakpoint(sm-mobileonly) {
        transform: rotateZ(0deg) scaleX(1) translate(0px, 0px);
        width: 23px;
        height: 2px;
        top: -8px;
      }
    }
    .btn15 .icon:after {
      @include breakpoint(Ipad) {
        transform: rotateZ(0deg) scaleX(1) translate(0px, 0px);
      }
      @include breakpoint(sm-mobileonly) {
        transform: rotateZ(0deg) scaleX(1) translate(0px, 0px);
        top: 8px;
      }
    }
    .btn15 .icon {
      @include breakpoint(Ipad) {
        background: #fff;
      }
      @include breakpoint(sm-mobileonly) {
        background: #fff;
        width: 23px;
        height: 2px;
      }
    }
    & ~ .main-container {
      .right-panel {
        @include breakpoint(Ipad) {
          width: 100% !important;
        }
        @include breakpoint(sm-mobileonly) {
          width: 100% !important;
        }
      }
      .left-panel {
        @include breakpoint(Ipad) {
          margin-left: -280px !important;
          position: fixed;
          height: 100%;
          z-index: 99;
        }
        @include breakpoint(sm-mobileonly) {
          margin-left: -280px !important;
          position: fixed;
          height: 100%;
          z-index: 99;
        }
      }
    }
  }
}

.question-wrapper {
  .hamburger-toggle {
    & ~ .main-container {
      .left-panel {
        @include breakpoint(Ipad) {
          margin-left: 0px !important;
        }
        @include breakpoint(sm-mobileonly) {
          margin-left: 0px !important;
        }
      }
    }
  }
}
@include breakpoint(Ipad) {
  .leftPanel .progressbar-container .progressbar {
    width: 71% !important;
  }
  .leftPanel {
    width: 63% !important;
  }
}
@include breakpoint(sm-mobileonly) {
  .leftPanel .progressbar-container .progressbar {
    width: 100% !important;
  }
  .leftPanel {
    width: 100% !important;
    height: 37px;
  }
  .css-eglki6-MuiLinearProgress-root {
    margin-left: 0 !important;
  }
  .progressbar-text.css-pazuet {
    left: 20px !important;
    margin-top: 5px !important;
  }
  .css-15v22id-MuiAccordionDetails-root {
    padding: 15px 0px 10px !important;
  }
}

.justi {
  justify-content: end !important;
}

.Mui-expanded,
.accordHead {
  min-height: 20px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  @include breakpoint(sm-mobileonly) {
    margin-bottom: 0px !important;
    padding: 0 5px !important;
  }
}
.mar-right {
  margin-right: 5px !important;
}

@include breakpoint(desktop1280) {
  .question-wrapper .main-container {
    height: calc(100vh - 65px);
  }
  .question-wrapper .main-container .right-panel__inr {
    height: calc(100vh - 231px);
  }
  .sidebar .listitem-container {
    position: relative;
    padding: 16px 18px !important;
  }
  .leftPanel .progressbar-container .progressbar {
    width: 77% !important;
  }
}
