.accordBlock {
    box-shadow: none !important;
    
    // border-top: 1px solid #C4C4C4 !important;
    padding-bottom: 10px;
    &::after{
        display: none;
    }
    &::before{
        display: none;
    }
    p{
        font-size: 13px;
       // margin-bottom: 8px;
      line-height: 1.2;
    }
    .bestpractices-text{
        p{
            font-size: 13px;
        }
    }
}

.accordHead {
    background-color: #EFEFEF !important;
    box-shadow: none !important;
    color: #2A2A2A !important;
}

.accordDetail {
    border-bottom: 1px solid #efefef!important;
}
.dont-btn{
    span{

        font-size: 13px !important;
    }
}