.accordBlock {
    box-shadow: none !important;
    @include breakpoint(sm-mobileonly) {
        padding-bottom:0px;
    }
    // border-top: 1px solid #C4C4C4 !important;
    padding-bottom: 10px;
    &::after{
        display: none;
    }
    &::before{
        display: none;
    }
    p{
        font-size: 13px;
       // margin-bottom: 8px;
      line-height: 1.2;
      width:98%;
    }
    .bestpractices-text{
        p{
            font-size: 13px;
        }
    }
}

.accordHead {
    background-color: $dark-white !important;
    box-shadow: none !important;
    color: $black-color !important;
}

.accordDetail {
    border-bottom: 1px solid $dark-white !important;
}
.dont-btn{
    span{

        font-size: 13px !important;
    }
}