$font-Roboto: "Roboto";

$blue-color:#2251FF;
$light-blue:#1f66f6;
$gray-color:#D8D8D8;
$black-color:#2D2D2D;
$white-color:#ffffff;
$dark-black: #000000;
$dark-light-black:#051c2c;
$gray-light:#B3B3B3;
$red-color:#B00020;
$gray-lighter:#BEBEBE;
$dark-white:#F1F1F1;
$dark-blue:#1e323f;
$dark-gray: #8a8a8a;
$light-voilet: #565575;

$box-shadow-color:rgba(164, 101, 101, 0.16);
$font-normal: normal;
$font-style: normal;
$font-bold: bold;
$font-500: 500;

$text-align:"Center";