
.primary-header {
  display: flex;
  position: relative;
  width: 100%;
  background-size: 100%;
  align-items: center;
  min-height: 150px;

.header {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}

.logo {
  padding-left: 60px;

  img{
    @include breakpoint(lg-desktop) {
      width: 200px;
    }
  }
}

.banner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 100%;
}

.banner-title {
  width: 100%;
  display: inline-block;
  font-weight: $font-bold;
  background-color: $white-color;
  color: $dark-light-black;
  text-align: center;
  -webkit-box-shadow: 0px 4px 9px 0px $box-shadow-color;
  box-shadow: 0px 4px 9px 0px $box-shadow-color;
}

.banner-title h2 {
  @include space("padding", "all", 15px, 0px);
  font-size: 18px;
}

.banner-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 30px solid transparent;
  border-bottom: 25px solid $blue-color;
}
}