
.skill-container {
  color: #051C2C;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  .main-container {
    margin: 0;
    padding: 15px;
    width: 100%;
  }

  .single-capability-header {
    display: flex;
    // justify-content: space-between;
    width: 100%;
    color: #565575;
    padding: 10px;
    border-bottom: 0px;
    font-weight: 600;

    &--heading:nth-child(1){
      width: 10%;
    }
    &--heading:nth-child(2){
      width: 9%;
    }
    &--heading:nth-child(3){
      width: 21%;
    }
    &--heading:nth-child(4){
      width: 41%;
    }
    &--heading:nth-child(5){
      width: 19%;
    }
  }

  .single-capability {
    border: 1px solid #BEBEBE;
    display: flex;
    &__left{
      width: 10%;
      padding: 10px;
    }
    &__right{

        width: 90%;
        &--cap-detail{
          border: 1px solid #BEBEBE;
          border-bottom: none;
          display: flex;
          &:first-child{
            border-top: 0;
          }
          .skillCont {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 10%;
            padding: 10px;
          }
          .skill-common{
            display: flex;
            align-items: center;
            padding: 10px;
            border-left: 1px solid #BEBEBE;
            border-collapse: collapse;
          }
          .skill-details-cnrt {
            width: 90%;
            &__skill-details{
              display: flex;
              border-bottom: 1px solid #BEBEBE;
              border-left: none;
              &:last-child {
                border-bottom: none;
              }

              .skill-slider-cont {
                width: 100%;
                height: 1px;
                background-color: #BEBEBE;
                position: relative;
                &:before {
                  content: "";
                  height: 15px;
                  width: 1px;
                  position: absolute;
                  left: 0px;
                  background-color: #BEBEBE;
                  transform: translateY(-50%);
                }

                &::after {
                  content: "";
                  height: 15px;
                  width: 1px;
                  position: absolute;
                  right: 0px;
                  background-color: #BEBEBE;
                  transform: translateY(-50%);
                }


                .knob-container {
                  .knob {
                    // background-image: url("../../assets/svg/Polygon\ 2.svg");
                    position: absolute;
                    top: -5px;
                    left: 0%;
                    transform: translateX(-50%);
                    z-index: 1;
                    &::after {
                      content: "20";
                      position: absolute;
                      height: 10px;
                      width: 10px;
                      top: 10px;
                    }
                  }
                  &::after {
                    content: "20";
                        position: absolute;
                        height: 10px;
                        width: 10px;
                        top: 10px;
                        transform: translateX(-90%);
                  }
                }
              }
                      
            }
            
            &__sub-skill{
              width: 25%;
            }
            &__observation {
              width: 50%;
            }
            &__slider {
              width: 25%;
            }

          }
        }
  
     
      
    }
   
  }
}