@import "../../styles/partials/mixins.scss";

.skill-container {
  color: $dark-light-black;
  font-family: 'Roboto', sans-serif;
  font-weight: $font-500;
  min-width: 600px;
  @include breakpoint(sm-mobileonly) {
    min-width: 100%;
   }
   
  .main-container {
    margin: 0;
    padding: 15px;
    width: 100%;
    height: calc(100vh - 180px);
    overflow-y: auto;
    padding-bottom: 0;
    @include breakpoint(sm-mobileonly) {
        height: calc(100vh - 131px);
      .skill_text {
        color: #606060;
        font-size: 12px;
      }
     }
    .mobile_heading span:first-child {
      float: left;
      display: block;
    }
    
    .mobile_heading span:last-child {
        float: right;
        display: block;
    }
    
    .mobile_heading {
        font-weight: bold;
        margin-bottom: 10px;
        color:$dark-black;
        min-height: 19px;
    }
    .mobile_heading {
        display: none;
        @include breakpoint(sm-mobileonly) {
          display: block;
          font-size:13px;
        }
    }
    
  }

  .single-capability-header {
    display: flex;
    // justify-content: space-between;
    width: 100%;
    color: $light-voilet;
    padding: 10px;
    border-bottom: 0px;
    font-weight: $font-bold;
    @include breakpoint(sm-mobileonly) {
     display: none;
    }

    &--heading:nth-child(1){
      width: 12%;
    }
    &--heading:nth-child(2){
      width: 20%;
    }
    &--heading:nth-child(3){
      width: 21%;
    }
    &--heading:nth-child(4){
      width: 41%;
    }
    &--heading:nth-child(5){
      width: 19%;
    }
  }

  .single-capability {
    border: 1px solid $gray-lighter;
    border-bottom: 0;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
    display: flex;
    @include breakpoint(sm-mobileonly) {
      display: block;
      border-bottom:0;
    }
    &__left{
      width: 10%;
      padding: 10px;
      display: flex;
      .skill_serialNum{
        margin-right: 5px;
      }
      @include breakpoint(sm-mobileonly) {
        width: 100%;
        display: block;
      }
      .skill_text {
        word-break: break-word;
        @include breakpoint(sm-mobileonly) {
          display: inline-block;
        }
      }
    }
    &__right{

        width: 90%;
        @include breakpoint(sm-mobileonly) {
          width: 100%;
        }
        &--cap-detail{
          border: 1px solid $gray-lighter;
          border-bottom: none;
          border-right: 0;
          display: flex;
          @include breakpoint(sm-mobileonly) {
            display: block;
            border:0;
          }
          &:first-child{
            border-top: 0;
          }
          .skillCont {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 20%;
            padding: 10px;
            word-break: break-word;
            line-height: 1.2;
            border-right: 1px solid $gray-lighter;
            @include breakpoint(sm-mobileonly) {
              display: block;
              width: 100%;
              border-right:0;
            }
            .capability {
              display: flex;
              margin-bottom: 20px;
              @include breakpoint(sm-mobileonly) {
                display: block;
                width: 100%;
                border-right:0;
              }
              .capability_serialNum {
                margin-right: 5px;
              }
              .skill_text {
                @include breakpoint(sm-mobileonly) {
                  display: inline-block;
                }
              }
            }
          }

          .subSkillCont {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 20%;
            border-right: 1px solid $gray-lighter;
            padding: 10px;
            @include breakpoint(sm-mobileonly) {
              display: block;
              width: 100%;
              border-right:0;
            }

            .subSkillDetailCont {
              margin-bottom: 15px;
              &:last-child {
                margin-bottom: none;
              }
            }
          }

          .observationCont {
            width: 40%;
            padding: 10px;
            border-right: 1px solid $gray-lighter;  
            @include breakpoint(sm-mobileonly) {
              width: 100%;
              border-right:0;
            }
            .custom-text-area {
              width: 100% !important;
              height: 100% !important;
              margin-left: 0px !important;
              margin-top: 0px !important;
              border: 1px solid $gray-lighter;

            }
          }

          .progressBarCont {
            width: 20%;
            padding: 10px;
            @include breakpoint(sm-mobileonly) {
              width: 100%;
              height: 90px;
            }
            .skill-slider-cont {
              width: 100%;
              height: 1px;
              background-color: $gray-lighter;
              position: relative;
              margin-top: 20px;
              &:before {
                content: "";
                height: 15px;
                width: 1px;
                position: absolute;
                left: 0px;
                background-color: $gray-lighter;
                transform: translateY(-50%);
              }

              &::after {
                content: "";
                height: 15px;
                width: 1px;
                position: absolute;
                right: 0px;
                background-color: $gray-lighter;
                transform: translateY(-50%);
              }


              .knob-container {
                position: absolute;
                left: 20%;
                .knob {
                  // background-image: url("../../assets/svg/Polygon\ 2.svg");
                  position: absolute;
                  top: -5px;
                  left: 0%;
                  transform: translateX(-50%);
                  z-index: 1;
                }
                .slider-text {
                  content: "";
                      position: absolute;
                      height: 10px;
                      min-width: 10px;
                      left: 5px;
                      top: 7px;
                      font-size: 14px;
                      transform: translateX(-90%);
                }
              }
            }
          }
        }
    }
  }

  .submitButton {
    min-width: 135px;
  }
}
@include breakpoint(desktop1280) {
  .skill-container .single-capability-header--heading {
    font-size: 12px !important;
  }
  .single-capability p {
      font-size: 11px;
  }
  .skill-container .submitButton {
      min-width: auto;
  }
  .skill-container .main-container {
      height: calc(100vh - 130px);
  }
  .skill-container .single-capability__right--cap-detail .progressBarCont .skill-slider-cont .knob-container .slider-text {
      font-size: 11px;
  }
}

@include breakpoint(sm-mobileonly) {
  .skill-container .submitButton {
    min-width: auto;
  }
}
@include breakpoint(Ipad) {
  .skill-container .single-capability__left {
      width: 15%;
  }
  .skill-container .single-capability__right--cap-detail .observationCont {
      width: 30%;
  }
  .skill-container .single-capability__right--cap-detail .skillCont {
      width: 24%;
  }
  .skill-container .single-capability__right--cap-detail .subSkillCont {
      width: 26%;
  }
}



