
.calculate_table_container {
    width:100%;
    overflow-x: auto;
    .calculate_table_head {
        width: 100%;
    }
    .table_row {
        display: flex;
    }
    .table_row .table_col {
        flex:10% 0;
        border: solid 1px #000;
        padding:10px 5px;
        border-right: 0;
        border-bottom: none;
        border-right: none;
        font-size:13px;
        text-align: center;
        font-weight: bold;
    }
    .table_row .table_col:last-child {
        border-right: solid 1px #000;
    }
    .calculate_table_container >.calculate_table_body .table_row:last-child > .table_col {
        border-bottom: solid 1px #000;
    }
    .repeat_table select {
        border: 0;
        width: 100%;
        outline:none;
        background: #E6A0C8;
        font-weight:bold;
    }
    .dropdown_select {
        background-color:#E6A0C8;
   }
    .pouring_Copper_color {
        background-color:#FAA082;
   }
    .gray_color {
        background-color: #D0D0D0;
   }
    .blue_color {
        background-color:#39BDF3;
    }
    .border_0 {
        border:solid 1px transparent  !important;
    }
    .padding_0 {
        padding:0;
    }
    .colspan6 {
        flex:70% 0  !important;
        padding:0 !important;
        border:0 !important;
    }
    .colspan6 .table_col {
        flex: 16% 0;
    }
    .repeat_table {
        margin-bottom:25px;
    }
    .colspan6 .table_row {
        width: 100%;
    }
    .calculate_table_body .colspan6 .table_row:last-child .table_col {
        border-bottom: solid 1px #000 !important;
    }
    .colspan6 .table_row .table_col:last-child {
        border-right: 0;
    }
    .table_col.first, .table_col.eight, .table_col.nine {
        border-bottom: solid 1px #000 !important;
        justify-content: center;
        align-items: center;
        display: flex;
   }
    .col_two {
        flex: 20% 0 !important;
   }
    .colspan6 .col_two {
        flex-basis: 32.15% !important;
   }
    .align_left {
        text-align: left !important;
   }
    .calculate_table_head .table_col.gray_color {
        flex-basis: 20%;
   }
    .calculate_table_head .table_col.pouring_Copper_color {
        flex-basis: 30%;
   }
    .calculate_table_head .table_col.blue_color {
        flex-basis: 20%;
   }
   .quartile_input{
        width: 70%;
        padding: 8px 10px;
        outline: 0;
   }
   .table_col.dropdown_select fieldset {
        border: 0;
        padding:0;
    }
    .table_col.dropdown_select .MuiSelect-select {
        padding: 0 !important;
        font-size: 14px !important;
        text-align: left;
    }
    .table_col.dropdown_select svg {
        right: -3px !important;
    }
    .table_col.dropdown_select .inputField  {
        margin:0;
    }

    @include breakpoint(sm-mobileonly) {
        .repeat_table {
            width: 1200px  !important;
        }
        .calculate_table_head {
            width: 1200px;
        }
    }
    @include breakpoint(Ipad) {
        .repeat_table {
            width: 1200px  !important;
        }
        .calculate_table_head {
            width: 1200px;
        }
    }
    @include breakpoint(desktop1280) {
        .table_col {
            font-size: 10px !important;
            padding:5px;
        }
        .table_col.dropdown_select .MuiSelect-select {
            font-size: 10px !important;
        }
        .quartile_input {
            padding: 0px 3px;
        }
    }
    


}

.disabled{
    opacity: 0.4;
    pointer-events: none;
}




