.thankyou-container {
    width: 100%;
    margin-top: 60px;
    text-align: center;
    padding: 0 20px;
    @include breakpoint(sm-mobileonly) {
        margin-top:0px;
        padding: 0 12px;
      }

    svg {
        height: 185px;
    }

    .title {
        text-align: center;
        margin-bottom: 10px;
    }

    .content-area p {
        text-align: center;
        font-size: 13px;
    }
}

.helpdesk {
    width: 100%;
    background-color: $dark-white;
    text-align: center;
    padding: 15px;

    p {
        &:first-child {
            font-weight: $font-normal;
            margin-bottom: 8px;
            font-size: 16px;
        }

        &:nth-child(2) {
            font-size: 13px;
            margin-bottom: 5px;
        }

        &:last-child {
            font-size: 13px;
        }
    }
}

.show-btn {
    button {
        //width: 200px !important;
        padding: 8px 20px !important;
    }
}

.helpdesk {
    margin-top: 15px;
}

.thankyou-container svg {
    margin-bottom: 30px;
}

@include breakpoint(desktop1280) {
    .thankyou-container .title {
      font-size: 12px;
    }
    .thankyou-container .content-area p {
        font-size: 10px;
    }
    .helpdesk p {
        font-size: 11px !important;
    }
}
@include breakpoint(sm-mobileonly) {
    .main-container {
        height: calc(100vh - 208px);
        overflow-y: auto;
        margin-top: 130px;
    }
    .helpdesk p {
        font-size: 12px !important;
    }
    .thankyou-container .content-area p {
        font-size: 11px;
    }
    .thankyou-container .title {
        font-size: 14px;
    }
    .thankyou-container svg {
        height: 141px;
    }
}
@include breakpoint(landscape-mobileonly) {
    .main-container {
        height:calc(100vh - 117px);
        margin-top: 39px;
    }
    .helpdesk {
        margin-top: 14px;
    }
}