.thankyou-container{
    width: 100%;
    text-align: center;
    svg{
        height: 250px;
    }
    .title{

        text-align: center;
    }
    .content-area p{
        text-align: center;

    }
}
.helpdesk{
    width: 100%;
    background-color: #F1F1F1;
    text-align: center;
    padding: 30px;
    p{
        &:first-child{
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 18px;
        }
        &:nth-child(2){
            font-size: 14px;
            margin-bottom: 10px;
        }
        &:last-child{
            font-size: 14px;
        }
    }
}