.login-container{
    .main-container {
      margin: 0 auto;
      width: 80%;
    
      .content-area {
        padding-top: 150px;
        .btn-container {
          display: flex;
          justify-content: center;

          .custom-nav-btn {
              font-size: 12px;
              text-transform: capitalize;
              padding: 25px 50px;
              margin-right: 16px;
              min-width: 200px;
              box-shadow: none;
              background-color: $dark-white;
            color: $dark-black;
            font-weight: 700;
              &:hover {
                background-color: $blue-color;
                color: $white-color;
              }
          }
        }

        p {
          text-align: left;
          font-size: 14px;
          color: $dark-black;
          margin-bottom: 30px;
        }
    
        .MuiFormControl-root {
          input {
            border: 1px solid $gray-light;
            width: 100%;
            padding: 5px 15px;
    
            &::placeholder {
              color: $dark-gray;
            }
          }
        }
      }
    }
  }
  