.footer{
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    @include breakpoint(sm-mobileonly) {
        padding: 10px;
        background-color:#fff;
    }
}
@include breakpoint(sm-mobileonly) {
    .submitButton {
        padding: 5px 35px !important;
        font-size: 12px !important;
        min-width: 100px !important;
    }
}