$dark: #fff;
$light: #efefef;
$color: #b3e5fc;

.secondary-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  background-color: $dark-light-black;
  background-position: right;
  align-items: center;
  height: 100px;
  min-height: 100px;
  @include breakpoint(sm-mobileonly) {
    background-size: cover;
    height: 78px;
    min-height: 78px;
  }
  .logo {
    padding-left: 10px;
    padding-right: 40px;
    border-right: 1px solid $dark-blue;
    border-bottom: 1px solid $dark-blue;
    width: 280px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(sm-mobileonly) {
      padding-right:20px;
    }
    .hamburger-menu {
      svg {
        height: 15px;
      }
    }
    img {
      width: 130px;
    }
  }
  .title {
    display: inline-block;
    width: 80%;
    padding-left: 20px;
    color: $white-color;
    h2 {
      font-size: 18px;
      @include breakpoint(sm-mobileonly) {
        font-size: 12px;
      }
    }
  }
}

@mixin btn($left, $top) {
  // position: absolute;
  width: 60px;
  height: 60px;
  // top: $top;
  // left: $left;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: relative;
  height: $height;
  width: $width;
  top: 30px;
  background-color: $dark;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

.btn15{
  @include btn(120px, 400px);
  
  .icon {
    @include icon(3px, 28px);
    border-radius: 4px;
    left: 15px;
    @include breakpoint(Ipad) {
      background:transparent;
    }
    @include breakpoint(sm-mobileonly) {
      background:transparent;
    }
    &:before{
      @include icon-before(3px, 28px, -10px);
      border-radius: 4px;
      @include breakpoint(Ipad) {
        transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
      }
      @include breakpoint(sm-mobileonly) {
        transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
      }
    }
    
    &:after{
      @include icon-after(3px, 28px, 10px);
      border-radius: 4px;
      @include breakpoint(Ipad) {
        transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
      }
      @include breakpoint(sm-mobileonly) {
        transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
      }
    }
  }
  
  &.open {
    .icon {
      transition-duration: 0.5s;
      background: transparent;
      color: #fff;
      @include breakpoint(Ipad) {
        background: #fff;
      }
      @include breakpoint(sm-mobileonly) {
        background: #fff;
      }
      
      &:before{
        transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
        @include breakpoint(Ipad) {
          transform: rotateZ(0deg) scaleX(1) translate(0px, 0px);
        }
        @include breakpoint(sm-mobileonly) {
          transform: rotateZ(0deg) scaleX(1) translate(0px, 0px);
        }
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
        @include breakpoint(Ipad) {
          transform: rotateZ(0deg) scaleX(1) translate(0px, 0px);
        }
        @include breakpoint(sm-mobileonly) {
          transform: rotateZ(0deg) scaleX(1) translate(0px, 0px);
        }
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}
