.login-container{
  .main-container {
    margin: 0 auto;
    margin-top: 100px;
    // margin-top: 100px;
    width: 80%;
  
    .title {
      text-align: left;
      font-size: 16px;
      letter-spacing: 0px;
      color: $dark-black;
      margin-bottom: 15px;
      @include breakpoint(sm-mobileonly) {
        font-size: 15px;
      }
    }
  
    .content-area {
      p {
        text-align: left;
        font-size: 14px;
        color: $dark-black;
        margin-bottom: 30px;
      }
  
      .MuiFormControl-root {
        input {
          border: 1px solid $gray-light;
          width: 100%;
          padding: 5px 15px;
  
          &::placeholder {
            color: $dark-gray;
          }
        }
      }
    }
  }
}

.input-error {
  display: inline-block;
  color: $red-color;
  font-size: 14px;
  padding-top: 4px;
}

.welcome-helpdesk {
  margin-top: 60px;
  text-align: left;
  letter-spacing: 0px;
  font-size: 14px;

  a {
    display: block;
    padding-top: 4px;
    font-size: 12px;
    color: $blue-color;
  }
}

.button-container {
  display: inline-block;
  width: 100%;
  text-align: center;
}


// .welcome-link {
//   color: white;
//   text-decoration: none;
//   pointer-events: auto;
// }

.cursor-block {
  cursor: not-allowed;
  display: inline-block;
  text-align: center;
}

.submit-block {
  pointer-events: none;
}