.main-container {
  margin: 0 auto;
  // margin-top: 100px;
  width: 80%;

  .title {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 15px;
  }

  .content-area {
    p {
      text-align: left;
      font-size: 16px;
      color: #000000;
      margin-bottom: 30px;
    }

    .MuiFormControl-root {
      input {
        border: 1px solid #B3B3B3;
        width: 100%;
        padding: 5px 15px;

        &::placeholder {
          color: #8a8a8a;
        }
      }
    }
  }
}

.input-error {
  color: #b00020;
}

.welcome-helpdesk {
  margin-top: 60px;
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;

  a {
    color: #2251ff;
  }
}

.button-container {
  display: inline-block;
  width: 100%;
  text-align: center;
}


// .welcome-link {
//   color: white;
//   text-decoration: none;
//   pointer-events: auto;
// }

.cursor-block {
  cursor: not-allowed;
  display: inline-block;
  text-align: center;
}

.submit-block {
  pointer-events: none;
}