#impactCalc {
  scroll-behavior: smooth;
}

.topContainer {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid $gray-color;
  @include breakpoint(sm-mobileonly) {
    display: block;
    padding-bottom: 5px;
  }
  @include breakpoint(landscape-mobileonly) {
    padding-bottom: 5px;
  }
 
}

.saveBtn,
.submitBtn {
  width: 140px;
}

.leftPanel {
  // width: 70%;

  .MuiBox-root .css-70qvj9 {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }

  .progressbar-container {
    .progressbar-innercontainer {
      // justify-content: end;
      @include breakpoint(sm-mobileonly) {
        display: block;
        
      }
      // @include breakpoint(landscape-smalldevice) {
      //   width: 735px;
      // }
    }

    .progressbar {
      width: 80%;
      margin: 0;
    }
  }
}

.rightPanel {
  // width: 25%;
  @include breakpoint(sm-mobileonly) {
    width: 100%;
    margin-bottom: 10px;
  }
  @include breakpoint(Ipad-pro) {
    width: 36%;
  }

  


  .button-container {
    // justify-content: end;
    // -webkit-justify-content:end;
    justify-content: flex-end;
    @include breakpoint(sm-mobileonly) {
      justify-content: right;
    }
    

    .previous-button {
      border: 1px solid $light-blue;
      background-color: $light-blue !important;
      color: $white-color !important;
      width: 120px;
      @include breakpoint(sm-mobileonly) {
        width: auto;
      }
    }
    .next-button {
      width: 120px;
      border: 1px solid $gray-color !important;
      background: $gray-color !important;
      color: $dark-light-black !important;
      @include breakpoint(sm-mobileonly) {
        width: auto;
      }
    }
  }
}

.css-eglki6-MuiLinearProgress-root,
.css-7p5u54 {
  height: 8px !important;
  background-color: $dark-white !important;
  margin-left: 15px;
}

.css-5xe99f-MuiLinearProgress-bar1 {
  background-color: $blue-color !important;
}

.bottomContainer {
  display: none;
}

.progressbar-text {
  &.css-pazuet {
    position: absolute;
    left: 25px;
    display: flex;
    justify-content: SPACE-BETWEEN;
    width: 146px;
  }
}

@media screen and (max-width: 1200px) {
  .progressbar-text.css-pazuet {
    width: 130px;
  }

  .css-eglki6-MuiLinearProgress-root {
    margin-left: 20px;
  }
}
.custom-text-area {
  resize: none;
  padding: 10px !important;
  width: 100% !important;
  font-size: 13px;
  height: 37px !important;
  border: 1px solid $gray-color;
  @include breakpoint(sm-mobileonly) {
    // width: 96% !important;
    // margin-left: 0px !important;
  }
  @include breakpoint(desktop150) {
    // width: 82% !important;
    // margin-left: 30px !important;
  }
  @include breakpoint(desktop) {
    // width: 82% !important;
    // margin-left: 30px !important;
  }
}

.submitactive {
  width: 120px;
  border: 1px solid $blue-color !important;
  background-color: $light-blue !important;
  color: #fff !important;
}

.jc-start {
  justify-content: start !important;
}

.jc-center {
  justify-content: center !important;
}

.ProgressText {
  text-align: left;
  margin: 0px 0px 5px 16px;
  font-size: 13px;
}
@include breakpoint(desktop1280) {
  .ProgressText {
    font-size: 11px;
  }
}
