
.gi-container-outer {
  .gi-container{
    margin-top: 100px;
    @include breakpoint(sm-mobileonly) {
      margin-top: 176px;
    }
    &__inr{
      width: 85%;
      padding-right: 8px;
    margin: 0 auto;
    height:calc(100vh - 301px);
    overflow-y: auto;
    padding-bottom: 30px;
    @include breakpoint(sm-mobileonly) {
      height: calc(100vh - 330px);
    }
    
    }
    .gi-heading{
      font-size: 18px;
     padding-bottom: 20px;
    }
    .gen-info {
      font-size: 14px;
      @include breakpoint(sm-mobileonly) {
        font-size: 12px;
      }
      
    }
    .cutom-input-field{
      input{
        padding: 8px 12px  !important;
        font-size: 12px !important;
      }
    }
    .MuiSelect-select{
      padding: 6px 12px  !important;
      font-size: 14px !important;
      @include breakpoint(sm-mobileonly) {
        font-size: 12px !important;
        padding-right: 26px !important;
      }
    }
    
  }
  .css-10mzr36-MuiGrid-root>.MuiGrid-item {
    @include breakpoint(sm-mobileonly) {
      padding-bottom:8px;
    }
  }
  .submitButton {
    min-width: 135px;
  }
}
.cutom-checkbox {
  svg {
    width: 1rem;
    height: 1rem;
  }
}
.list-item {
  span {
    font-size: 14px !important;
  }
}
.selectItem {
  font-size: 14px !important;
  @include breakpoint(sm-mobileonly) {
    font-size: 12px !important;
  }
}
.mar-right{
 margin-right: 5px !important;
}



@include breakpoint(desktop1280) {
  .gi-container-outer .gi-container .gi-heading {
      font-size: 13px;
  }
  .gi-container-outer .gi-container .gen-info {
      font-size: 12px;
  }
  .gi-container-outer .gi-container .MuiSelect-select {
      padding: 2px 7px !important;
      font-size: 11px !important;
  }
  .gi-container-outer .submitButton {
      min-width: auto;
  }
  .gi-container-outer .gi-container .cutom-input-field input {
      padding: 5px 7px !important;
      font-size: 11px !important;
  }
}
@include breakpoint(landscape-mobileonly) {
  .gi-container-outer .gi-container {
      margin-top:44px;
  }
  .gi-container-outer .gi-container__inr {
      height: calc(100vh - 180px);
  }
}
